[submodule "frontend"]
	path = frontend
	url = https://github.com/Abdul-Qoyyum/demo-care-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Abdul-Qoyyum/demo-care-backend.git
